h1{
    text-align: center;
}
.card img {
    cursor: pointer;
    margin-top: -40px;
}
.card {
    text-align: center;
}
.card-title {
    font-size: 1.2em;
    margin: 30px 0;
}
.card-price {
    font-size: 1em;
    color: #333;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.cart-item .item-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cart-item .item-details .item-name {
    font-size: 1.2em;
    margin-bottom: 5px;
}
.cart-item .item-details .item-price {
    font-size: 1em;
    color: #333;
}
.cart-item .remove-link {
    margin-left: 20px;
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.total-price {
    font-size: 1.5em;
    margin-top: 20px;
    text-align: right;
}
.checkout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 20px;
}
.checkout-button:hover {
    background-color: #45a049;
}
.about_img{
    background-image: url("../assets/image/about_as.jpg");
    background-size: cover;
}